html {
    height: 100%;
    overflow-y: scroll;
}

section {
   padding: 5% 10%;
   background: rgb(171, 171, 218);
   box-sizing: inherit;
   height: 50rem;
   color: white;
}

.white {
    transform: translateY(10%);
    background: white;
    .container {
        color: black;
        font-size: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 25%));
        grid-column-gap: auto;
        grid-row-gap: auto;
        justify-items: center;
        div {
            text-align: center;
            img {
                height: 50px;
            }
        }
    }
}
h1 {
    font-size: 12rem;
    padding: 0 4rem;
    letter-spacing: .02rem;
    .heading {
        float: right;
        clear: right;

    }
    .subheading {
        float: right;
        clear: right;
    }
}
.heading-slogan {
    float: right;
    clear: right;
    width: 80%;
    font-size: 50px;
    text-align: right;
    padding: 0 3.2rem;
}