

<section>
  <div>
    <h1> 
      <span class="heading">STRIVE</span>
      <span class="subheading">HIGH</span>
    </h1>
    <div class="heading-slogan">
        Our success is not only due to the quality of our work; it's down to attitude, our approach and the way we treat our clients.
    </div>
  </div>
</section>
<section class="white">
  <div class="container">
      <div> 
        <h2>Passion </h2>
        <img src="https://image.flaticon.com/icons/png/512/31/31792.png">
      </div>
      <div> 
        <h2> Value </h2>
        <img src="https://cdn3.iconfinder.com/data/icons/business-vol-9/100/Artboard_14-512.png">
      </div>
      <div> 
        <h2>Excellence </h2>
        <img src="https://cdn2.iconfinder.com/data/icons/project-management-1-10/68/15-512.png">

      </div>
      <div> 
        <h2>Ambition </h2>
        <img src="https://cdn0.iconfinder.com/data/icons/business-pros-icons/442/Person_Climbing_A_Ladder-512.png">
      </div>
  </div>
</section>
