<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact</title>
</head>
<body>
  <div class="contact-form">
    <form>
      <h2> Contact Us </h2>
      <label for="name">Name*</label>
      <input
        type="text"
        name="name"
        id="name"
        class="contact-input"
        placeholder="Tom Smith"
        required>
  
  
      <label for="email">Email</label>
      <input 
        type="email"
        name="email"
        id="email"
        class="contact-input"
        placeholder="email@email.com">
  
      <label for="phone">Phone Number</label>
      <input 
        type="text"
        name="phone"
        id="phone"
        class="contact-input"
        placeholder="123-456-7890">
  
      <button id="send-btn" name="button" type="submit">Send it!</button>
    </form>
  </div>
</body>
</html>